body{
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnRxa2owMWw1aGIzZnluaTU0YzNoMjRwbGRibmQ1Z2xnZ3puY2hoeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NNoiOYArMdd6w/giphy.gif");
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}